<nav aria-label="${configuration.pagebarAriaLabel}" class="ai-hub-control-menu bg-white component-tbar tbar">
	<div class="container-fluid">
		<ul class="tbar-nav workflow-definition-nav">
			<li class="tbar-item">
				<button class="btn workflow-definition-back">
					<svg height="16" width="16">
						<use xlink:href="${themeDisplay.pathThemeImages}/lexicon/icons.svg#angle-left"></use>
					</svg>
				</button>
			</li>

			<ul class="workflow-definition-tbar-nav">
				<li class="tbar-item">
				[@liferay_portlet["runtime"]
					portletName="com_liferay_product_navigation_applications_menu_web_internal_portlet_ProductNavigationApplicationsMenuPortlet"
				/]
			</li>
			<li class="tbar-item">
				[@liferay.user_personal_bar /]
			</li>
			</ul>
		</ul>
	</div>
</nav>